<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.finish.title}">JHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>

<p><span style="font-weight: 400;">Dear Amanyaman Team,</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Please be informed that:</span></p>
<table style="height: 61px; width: 507.406px;">
    <tbody>
    <tr style="height: 13px;">
        <td style="width: 108px; height: 13px;">Name</td>
        <td style="width: 13px; height: 13px;">:</td>
        <td style="width: 460.406px; height: 13px;">[[${user.firstName}]] [[${user.lastName}]]</td>
    </tr>
    <tr style="height: 13px;">
        <td style="width: 108px; height: 13px;">Email</td>
        <td style="width: 13px; height: 13px;">:</td>
        <td style="width: 460.406px; height: 13px;">[[${user.email}]]</td>
    </tr>
    <tr style="height: 13px;">
        <td style="width: 108px; height: 13px;">Travel Agent</td>
        <td style="width: 13px; height: 13px;">:</td>
        <td style="width: 460.406px; height: 13px;">[[${user.travelAgent.travelAgentName}]]</td>
    </tr>
    </tbody>
</table>
<p><span style="font-weight: 400;">Has setup his/her first password, and now ready to sell Amanyaman Travel Insurance.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Regards,</span></p>
<p><span style="font-weight: 400;">Amanyaman Apps Administrator</span></p>

</body>
</html>



